
.navbar{
    background-color: #1A187A;
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding: 20px 20px;
}
.collapse{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}
.collapse input{
    width: 30%;
}
.nav-item .nav-link{
    text-decoration: none;
    color: white;
    font-size: 22px;
}
.navbar-toggler{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.carousel-item{
    background-image: url(images/v904-nunny-012\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* position: relative; */
}
.slider-img1{
    /* border: 1px solid black; */
    height: 500px;
    width: 250px;
    /* position: absolute; */
}
.slider-img2{
    /* border: 1px solid black; */
    height: 500px;
    width: 500px;
    /* position: absolute; */
}

.slider-content{
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px;
    
}
/* .d{
    border: 1px solid black;

} */
.features{
    display: grid;
    height: 100vh;
    
    
}


/* .d{
    text-align: center;
}
.left-content .top-content{
    background-color: white ;
    background-size: cover;
    display: flex;
    padding: 20px;
}
.left-content .bottom-content{
gap: 30px;
padding: 20px;
} */

/* .right-content{
    border: 1px solid black;
    display: flex;
    background-color: #EDEDED;
    gap: 10px;
    padding: 10px;
    height: auto;
    width: auto;
} */
.category-item{
    border: none;
    border-radius: 5px;
    padding: 20px; 
    text-align: center;
    background-color: #EDEDED;
}

.category-items{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.card-link{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    padding: 20px 50px;
}
.card-body{
    text-align: center;
}
.card{
    position: relative;
}
.fa-heart{
    position: absolute;
    top: 10px;
    right: 10px;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 50px;
    gap: 30px;
}
.card-img-top
{
    padding-top: 50px;
}
.sale{
    background-color: #958AD4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    gap: 30px;
    
}

.mid-content{
    text-align: center;
    padding: 30px;
}
.mid-content-title{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
    
}
.right-pic{
    display: flex;
    justify-content: end;
}
.footer{
    background-color:black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding:20px;
   
   
}
.footer-social{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.footer-services{
    color: white;
    list-style: none;
    font-size: 20px;
}
.footer-assis{
    color: white;
    list-style: none;
    font-size: 20px;
}

  